.experiencia {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 80px;
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  text-transform: uppercase;
  line-height: 1;
  max-width: 5ch;
  margin-top: -20px;
}
.experiencia .subtitulo {
  color: #e5e5e5;
}
.sobre {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 45ch;
  font-family: Roboto;
  color: #151515;
}
.sobre strong {
  color: black;
}
.empresa-titulo {
  padding: 30px 20px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
  border-radius: 4px;
  position: relative;
  color: #151515;
  align-content: center;
}
.empresa-titulo::before {
  content: "";
  display: block;
  width: 5px;
  height: 20px;
  background: #85cf4a;
  position: absolute;
  left: -5px;
  top: 35px;
}
.ano {
  position: absolute;
  right: 20px;
  color: #626262;
  font-size: 0.8rem;
}
.funcao {
  margin-top: 10px;
  max-width: 115ch;
  color: #6a6a6a;
  line-height: 1.4;
}
@media (max-width: 1000px) {
  .experiencia {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .experiencia .subtitulo {
    color: #151515;
    margin-bottom: 30px;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .sobre {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .ano {
    bottom: 5px;
  }
  .job {
    font-size: 1.1rem;
  }
  .experiencia .subtitulo {
    margin-top: -50px;
  }
}
@media (max-width: 525px) {
  .experiencia .subtitulo {
    font-size: 2.3rem;
  }
}
