body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  /* margin-bottom: 1000px; */
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
