.header {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-principal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.menu-principal a {
  font-size: 1.375rem;
  line-height: 1.3;
  text-decoration: none;
  color: #151515;
  padding: 5px 20px;
  display: block;
  border: 2px solid transparent;
}
.menu-principal a:hover {
  /* border-bottom: 2px solid #65cc45; */
  text-decoration: underline;
  text-decoration-color: #65cc4a; /* cor verde */
  text-decoration-thickness: 2px; /* espessura da linha */
  text-underline-offset: 4px; /* distância do texto */
}
@media (max-width: 1000px) {
  .header {
    flex-direction: column; /* altera direção do flex par exibir em 1 coluna */
    gap: 40px;
  }
  .menu-principal a {
    font-size: 1.1rem;
  }
}
@media (max-width: 525px){
  .menu-principal a {
    font-size: 1rem;
  }
}
